.order-item {
    padding: 1rem;
    border-radius: 72px;
    background: #ECECF3;
    margin: 0.5rem 0;
}

.order {
    width: 100%;
    overflow: auto;
    max-height: 24rem;
}

.bi-info-circle {
    margin-left: .5rem;
    cursor: pointer;
    color: #B95DE4;
}