/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";

$primary-color: #B95DE4;

body,
html {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.divider {
    margin: 1rem 0;
    border: 1px dashed #DBDBDB;
}

.btn-primary {
    background: $primary-color;
    color: white;
    border-radius: 48px;
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    transition: .2s;
    text-decoration: none;

    &:hover {
        background: #d069ff;
    }

    &:disabled {
        cursor: default;
        background-color: #DBDBDB;
    }
}

.form-container {
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    box-shadow: 0px 20px 28px rgba(0, 0, 0, 0.03);
    border-radius: 28px;
    padding: 2rem;
    width: 40rem;

    input:not(.discount-code) {
        margin-bottom: 1rem;
    }

    input {
        background: #ECECF3;
        border-radius: 72px;
        border: none;
        padding: 1rem;
        width: 18rem;

        &:focus {
            outline: none;
        }
    }
}

.registered {
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

.discount-input-container {
    padding: 0 1rem;
    background: #ECECF3;
    border-radius: 72px;
    width: 24rem;

    input {
        flex-grow: 2;

        &:focus {
            outline: none;
        }
    }

    button {
        border: 1px solid #DBDBDB;
        border-radius: 36px;
        background-color: transparent;
        padding: .5rem 1.5rem;
        cursor: pointer;

        &:hover {
            background-color: #EEEEEE;
        }
    }
}

.price {
    // font-size: 24px;
    color: $primary-color;
    font-weight: bold;
}